@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* All Variables */
:root {
  --brandColor: #A41214;
  --primaryColor: #8A0302;
  --blackColor: #070603;
  --whiteColor: #FCFCFC;
  --iconSize: 3rem;
  --poppinsFonts: "Poppins", sans-serif;
  --letterSpacing-1: 0.1rem;
  --shadowSmall: 0.2rem 0.2rem 0.5rem red;
  --thin: 100;
  --extraLight: 200;
  --light: 300;
  --regular: 400;
  --mediam: 500;
  --semiBold: 600;
  --bold: 700;
  --extraBold: 800;
  --black: 900;
  --footerTitle: 2.5rem;
  --footerIcon: 2rem;
}

/* ================= Common Style Start ================= */
html {
  font-size: 62.5%;
  font-family: var(--poppinsFonts);
  /* 
  PX to REM
    1px == 0.1rem
    Exp: 
      font-size: 16px;
        font-size: 1.6rem; 
  */
}

body{
  background: #d8d8d8;
}

section{
  padding: 8rem 0;
}

.section-title{
}

.section-main-title{
  font-size: 3.5rem;
  font-weight: var(--bold);
  user-select: none;
}
/* ================= Common Style Ends ================= */

/* ================= Header Style Start ================= */
header{
  background: linear-gradient(#AB9356, #FE5A51);
  /* background: transparent; */
  width: 100%;
  /* position: fixed; */
}
#navbar {
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navbar .logo {
}

.logo a{
  
}

.logo a img{
  width: 12rem;
}

/* menu */
#navbar .menu {
}

.menu ul.menu-lists {
  display: flex;
  gap: 2.5rem
}

.menu-lists li.menu-list-item {
  font-size: 1.8rem;
  font-weight: var(--regular);
  text-transform: capitalize;
}

.menu-list-item a.menu-list-link {
  color: var(--whiteColor);
  text-decoration: none;
}

/* toggle button */
.toggle span#toggleOpenBtn{
  font-size: 3rem;
  color: var(--whiteColor);
  cursor: pointer;
}

.toggle span#toggleCloseBtn{
  display: none;
  font-size: 3rem;
  color: var(--whiteColor);
  cursor: pointer;
}

/* ================ Header Style Ends ================ */

/* ================= Banner Section Start ================= */
#banner{
  background: linear-gradient(rgba(255, 0, 0, 0.35), rgba(255, 0, 0, 0.35)), url(../demo-img/banner.webp) no-repeat center;
  background-size: cover;
  height: 100vh;
}
/* ================= Banner Section Ends ================= */





/* ================= Counter Section Start ================= */
#counter{
  background: linear-gradient(rgba(255, 0, 0, 0.50), rgba(255, 0, 0, 0.50));
  color: var(--whiteColor);
}

#counter .counter-icon{
  font-size: 5rem;
}

#counter p{
  font-size: 2rem;
}

#counter .counter-number{
  font-size: 2.5rem;
  font-weight: var(--regular);
}
/* ================= Counter Section Ends ================= */

/* ================= Our Team Section Start ================= */
#our-team{}

#our-team .single-card{
  height: 20rem;
}

#our-team .wrapper{
  perspective: 100rem;
}

#our-team .single-card{
  transition: all 1s cubic-bezier(0.7, -.5, 0.3, 1.8);
  -webkit-transition: all 1s cubic-bezier(0.7, -.5, 0.3, 1.8);
  -moz-transition: all 1s cubic-bezier(0.7, -.5, 0.3, 1.8);
  -ms-transition: all 1s cubic-bezier(0.7, -.5, 0.3, 1.8);
  -o-transition: all 1s cubic-bezier(0.7, -.5, 0.3, 1.8);
  transform-style: preserve-3d;
}

#our-team .wrapper:hover .single-card{
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}

#our-team .card-front,
#our-team .card-back{
  position: relative;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

#our-team .card-front{
  cursor: pointer;
  height: 100%;
  background-image: url(../images/gallery_1.webp);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  background-size: cover;
  background-position: center center;
}

#our-team .card-back{
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  height: 100%;
  background: #e4e4e48a;
}

#our-team .name{
  font-size: 2rem;
  font-weight: var(--semiBold);
}

#our-team .title{
  font-size: 1.6rem;
  font-weight: var(--regular);
}

#our-team .description{
  font-size: 1.2rem;
  font-weight: var(--light);
  line-height: 1.3rem;
}

#our-team .team-icon{
  font-size: 2.5rem;
  color: var(--blackColor);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

#our-team .team-icon:hover{
  color: var(--brandColor);
  transform: rotate(360deg) scale(1.5);
  -webkit-transform: rotate(360deg) scale(1.5);
  -moz-transform: rotate(360deg) scale(1.5);
  -ms-transform: rotate(360deg) scale(1.5);
  -o-transform: rotate(360deg) scale(1.5);
}
/* ================= Our Team Section Ends ================= */

/* ================= Testimonial Section Start ================= */
#testimonial{
  width: 100%;
  height: 45rem;
}

#testimonial .review-box{
  height: 20rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  position: relative;
  margin: auto;
  overflow: hidden;
}

#testimonial .testimonial-card{
  height: 25rem;
  padding: 4rem;
  box-sizing: border-box;
  background: var(--whiteColor);
  position: relative;
  z-index: 1;
}

#testimonial .testimonial-card::before{
  content: '';
  width: 10rem;
  height: 10rem;
  border-bottom-right-radius: 100%;
  background: var(--brandColor);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.profile .name{
  font-size: 2rem;
  font-weight: var(--mediam);
}

.profile .title{
  font-size: 1.4rem;
  font-weight: var(--regular);
}

.testimonial-card .info{
 font-size: 1.3rem;
 font-weight: var(--regular);
}



#testimonial .profile img{
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-right: 2rem;
  border: 0.2rem solid #fff;
}

#testimonial-slider{
  width: 100%;
  padding-right: 5rem;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.slidebar{
  width: 5rem;
  height: 20rem;
  padding: 1.5rem 0;
  box-sizing: border-box;
  background: var(--brandColor);
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.slidebar span{
  font-size: 2rem;
  padding: 1rem;
  background: var(--whiteColor);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  cursor: pointer;
}
/* ================= Testimonial Section Ends ================= */

/* ================= Contact Section Start ================= */
#contact{
  
}

#contact form label{
  font-size: 2rem;
}

#contact form input,
#contact form textarea{
  font-size: 1.4rem;
}

#contact form input:focus,
#contact form textarea:focus{
  outline-color: var(--brandColor);
}

#contact form textarea{
  resize: none;
}

/* ================= Contact Section Ends ================= */

/* ================= Footer Start ================= */
#footer{
  padding: 4rem 0;
  border-bottom: 0.2rem solid var(--blackColor)
}

#footer .footer-title{
  color: var(--blackColor);
  font-family: var(--poppinsFonts);
  font-size: var(--footerTitle);
  font-weight: var(--semiBold);
}

#footer .footer-logo img{
  width: 12rem;
  margin-bottom: -1rem;
  margin-top: -3rem;
  margin-left: -2rem;
}

#footer .footer-logo .footer-btn{
  width: fit-content;
  color: var(--blackColor);
  font-size: 1.4rem;
  font-weight: var(--regular);
}

#footer .footer-logo .footer-btn:hover{
  color: var(--brandColor);
}

#footer .footer-icon{
  font-size: var(--footerIcon);
  color: var(--blackColor);
}

#footer .company a.link:hover,
#footer .support a.link:hover{
  color: var(--brandColor);
}

#footer .footer-logo .info,
#footer .company a.link,
#footer .support a.link,
.get-in-touch ul li span.mail,
.get-in-touch ul li span.phone,
.get-in-touch ul li span.address{
  font-size: 1.4rem;
  font-weight: var(--regular);
  color: var(--blackColor);
  letter-spacing: 0.1rem;
}
/* ================= Footer Ends ================= */

/* ================= Copyright Start ================= */
.copyright{
  background: #bfc0be;
  border-top: 0.1rem solid var(--whiteColor);
}

.copyright .copyright-btn{
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  background: var(--whiteColor);
  color: var(--blackColor);
}

.copyright .copyright-btn .btn-icon{
  font-size: 2rem
}

.copyright .copyright-text p{
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
}

.copyright .copyright-text span{
  color: var(--brandColor);
}
/* ================= Copyright Ends ================= */